### 1. Importing required libraries

In [1]:
import pandas as pd
import numpy as np

### 2. Importing the datasets

In [2]:
sales_data    = pd.read_excel("ProductA.xlsx")
google_clicks = pd.read_excel("ProductA_google_clicks.xlsx")
impressions   = pd.read_excel("ProductA_fb_impressions.xlsx")

### 3. Merging datasets

In [3]:
data = pd.merge(sales_data, google_clicks, on="Day Index", how="left")
df   = pd.merge(data, impressions, on="Day Index", how="left")

In [4]:
df.head()

   Day Index  Quantity  Clicks  Impressions
0 2021-12-01        14     445          620
1 2021-12-02        10     433          890
2 2021-12-03        13     424          851
3 2021-12-04        22     427          881
4 2021-12-05        33     451          678

### 4. Descriptive Statistics

In [5]:
# Shape of the data in rows & columns

rows,columns = df.shape

print("Total number of rows : ",rows)
print("Total number of columns : ",columns)

Total number of rows :  212
Total number of columns :  4

In [6]:
# Basic info and structure
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 211
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day Index    212 non-null    datetime64[ns]
 1   Quantity     212 non-null    int64
 2   Clicks       212 non-null    int64
 3   Impressions  212 non-null    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 8.3 KB

In [7]:
df.columns

Index(['Day Index', 'Quantity', 'Clicks', 'Impressions'], dtype='object')

In [8]:
# Data type of each column
df.dtypes

Day Index      datetime64[ns]
Quantity                int64
Clicks                  int64
Impressions             int64
dtype: object

In [9]:
# Basic statistics for numerical columns
df.describe()

         Quantity     Clicks  Impressions
count  212.000000  212.00000   212.000000
mean    17.542453  358.20283  1531.702830
std      5.790423  164.52160   440.660783
min      5.000000   60.00000   620.000000
25%     13.750000  154.00000  1209.750000
50%     17.000000  402.50000  1460.000000
75%     21.000000  492.75000  1862.000000
max     38.000000  726.00000  2707.000000